/*FONT*/
@import url(https://fonts.googleapis.com/css?family=Raleway:200);

body {
  font-family: "Raleway", Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #d8d8d8;
}

/** {
  box-sizing:border-box;
}*/

/*SIDEBAR*/

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    /*top:50px;*/
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    top:50px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #3a3a3a;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
    top:50px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: white;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background:#385d8c;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: white;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background:#385d8c;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
        border-top:5px solid #d8d8d8;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 0 20px 20px 20px;
        position: relative;
        border-top:5px solid #3a3a3a;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/*make menu-toggle visible on small screens*/
#menu-toggle {
  display:none;
  font-size:36px;

}

@media(max-width:768px) {
  #menu-toggle {
    display:inline-block;
  }
}

/*TOP NAV BAR*/
.dashboard-nav {
  /*background:#385d8c;*/
  background: #59ad4b;
  /*background: #2998fa;*/
}

.dashboard-nav a {
  color:white;
}

.dashboard-nav .navbar-brand {
  padding-left: 20px;
  font-weight:bolder;
}

/*ACTIVE UNITS VIEW*/

.header-img {
  width:100%;
  height:auto;
  /*border: 1px solid white;*/
  margin-left:-20px;
  margin-right:-20px;
  padding-left: 40px;
}

.header-img h1 {
    font-weight: 900;
    font-size:4em;
}

.unit-contain {
  padding-left:0;
  padding-right:0;
}

.unit-wrapper {
  padding:15px;
}

.unit-content {
  /*border: 2px solid #3a3a3a;*/
  min-height:300px;
  padding: 10px;
  background-color: white;
  /*border-radius:5px;*/
  -webkit-box-shadow: 10px 10px 5px 0px rgba(58,58,58,1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(58,58,58,1);
  box-shadow: 10px 10px 5px 0px rgba(58,58,58,1);
}

.unit-content h3 {
  font-weight:bolder;
  display:inline-block;
}


.data-stream {
  /*border: 1px solid #385d8c;*/
  border: 1px solid #3a3a3a;
  height:auto;
  padding-left:10px;
  background:#385d8c;
    /*background: #59ad4b;*/
  /*background: #3a3a3a;*/
    /*background: #2998fa;*/
  color:white;
}

.unit-name {
  display:inline-block;
}
.plant-name {
  display:inline-block;
  font-weight:bolder;
}

.current-day {
  display:inline-block;
  font-weight:bolder;
  text-align:right;
}

.panel {
  margin-top: 100px;
}

.thumbnail img{
  height: 200px;
  width: 225px;

}
