/*FONT*/
@import url(https://fonts.googleapis.com/css?family=Raleway:200);
@import url(https://fonts.googleapis.com/css?family=Raleway:400);
@import url(https://fonts.googleapis.com/css?family=Raleway:700);
@import url(https://fonts.googleapis.com/css?family=Raleway:900);

body {
  font-family: "Raleway", Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #bfbfbf;

}

* {
  box-sizing:border-box;
}

/*SIDEBAR*/

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    top:70px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #262626;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-right: 1px solid white;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 0;
    top:70px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
    font-weight:200;
    font-size:1.3em;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: white;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background:#209305;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 50px;
    font-size: 1.4em;
    line-height: 50px;
    border-bottom:1px solid #209305;
}

.sidebar-nav > .sidebar-brand a {
    color:white;
}

.sidebar-nav > .sidebar-brand:hover {
    color: #fff;
    background:#209305;
}

.sidebar-brand img {
  height: auto;
  width: 35px;
  border-radius: 50px;
  margin-left:2px;
  border:2px solid black;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 0 0 20px 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/*make menu-toggle visible on small screens*/
#menu-toggle {
  display:none;
  font-size:36px;
  color:#209305;
}

@media(max-width:768px) {
  #menu-toggle {
    display:inline-block;
  }
  .brand-hold {
    position:absolute;
    top:25;
    left:10;
  }
  #sidebar-wrapper {
    border:none;

  }
  .nav-tag {
    display:none;
  }
}

/*TOP NAV BAR*/
.dashboard-nav {
  border-bottom: 1px solid white;
  margin-bottom:0;
  background: black;
  padding-left:20px;
  padding-bottom:10px;
  padding-top:10px;
}

.dashboard-nav .navbar-brand {
  font-weight:400;
  color: white;
  font-size:1.6em;
  text-shadow: 2px 2px black;
}

.brand-hold {
  background:#209305;
  padding:10px;
  margin-bottom:15px;
  margin-top:-10px;
}

.nav-tag {
  color:white;
  font-size:1.6em;
  font-weight:200;
  padding-top:10px;
  margin-bottom:0;
  padding-right:30px;
}


/*ACTIVE UNITS VIEW*/

.header-img {
  margin-left:-20px;
  padding-top:0;
  margin-bottom:10px;
  color:white;
  background: url("../images/leaf_strip-min.jpg")
  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(58,58,58,1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(58,58,58,1);
  box-shadow: 10px 10px 5px 0px rgba(58,58,58,1);
  border-bottom:1px solid white;
}

.header-txt {
    background: rgba(0, 0, 0, 0);
    padding-left:40px;
    text-shadow: 3px 3px black;
}

.header-img h1 {
    font-weight: 700;
    font-size:4em;
    margin-bottom:10px;
    margin-top:0px;
    padding-top:10px;
}
.header-img h3 {
    font-weight: 200;
    font-size:1.7em;
    margin-top: 0px;
    margin-bottom:0px;
    padding-bottom:10px;
    text-shadow: 2px 2px black;
}

.unit-contain {
  padding-left:0;
  padding-right:20px;
}

.unit-wrapper {
  padding:15px;
  max-width:350px;
  min-width:300px;
}

.unit-content {
  min-height:300px;
  padding: 10px;
  background-color: white;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(58,58,58,1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(58,58,58,1);
  box-shadow: 10px 10px 5px 0px rgba(58,58,58,1);
  text-align:left;
  border-radius:5px;
  border:1px solid #262626;
}

.unit-content h3 {
  font-weight:400;
  display:inline-block;
  padding-left:10px;
}

.data-stream {
  border-radius:5px;
  border:1px solid black;
  height:auto;
  color:white;
  background: url("../images/hydro_plant-min.jpg")
  no-repeat center center local;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.data-stream h2 {
  font-weight:200;
  padding-left:10px;
  text-shadow: 2px 2px black;
}

#first-measure {
  margin-top:10px;
}

.img-mask {
  background: rgba(0, 0, 0, 0.75);
  padding-top:1px;
  padding-bottom:1px;
}

.unit-name {
  display:inline-block;
  padding-left:5px;
}
.plant-name {
  display:inline-block;
  font-weight:bolder;
  font-size:1.7em;
  padding-left:5px;
  padding-top:5px;
}

.current-day {
  display:inline-block;
  float:right;
  font-size:1.7em;
  padding-right:5px;
  padding-top:5px;
}

.current-day span {
  color:#209305;
}
.unit-content hr {
  margin:0 5px;
}
.unit-content p {
  margin-bottom:0;
}

/*ACTIVE UNIT INFO*/

.head h1 {
  font-weight: 400;
  font-size:4em;
  margin-bottom:2px;
}

.head h3 {
  font-weight: 200;
  font-size:2em;
  margin-top: 0px
}

.unit-info-contain {
  min-height:400px;
  border:2px solid #262626;
  padding:0;
  margin-top:15px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(58,58,58,1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(58,58,58,1);
  box-shadow: 10px 10px 5px 0px rgba(58,58,58,1);
}

.unit-info-contain a {
  background: #262626;
  color:white;
  border-radius: 0;
  border:1px solid white;
  font-weight:200;
}

.unit-info-contain a:hover {
  background: #209305;
  color:white;
  font-weight:400;
}

.unit-info-contain .active,
.unit-info-contain .active:hover {
  background:white;
  border:none;
  font-weight:700;
}

.d3-directive-contain {
  min-height:380px;
  width:100%;
  background:white;
}

.sample-graph {
  padding-left:80px;
  padding-bottom:40px;
}

/*ABOUT PAGE*/
.panel {
  margin-top: 15px;
  border-color:#262626;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(58,58,58,1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(58,58,58,1);
  box-shadow: 10px 10px 5px 0px rgba(58,58,58,1);
}

.panel .panel-heading, .list-group .team-head {
  background-color:#262626;
  background-image: none;
  font-weight:200;
  font-size:1.2em;
  color:white;
}

.thumbnail img {
  max-width:240px;
  max-height: 180px;
  min-height:180px;

}

/*LANDING PAGE*/
.landing-contain {
  background: url("../images/hydroponic-spinach-plant-care-min.jpg")
  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100vh;
}

.landing-header {
  color:white;
  width:100vw;
  background: rgba(0, 0, 0, 0.6);
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  position:absolute;
  top:30;
  padding-bottom:20px;
}

.title {
  font-size:5em;
  font-weight:400;
  margin-top:10px;
  display:inline-block;
}

.tag-line {
  font-size:3em;
  font-weight:200;
  margin-top:0px;
  display:inline-block;
  margin-bottom:0;
}

.landing-button {
  border:1px solid white;
  background: transparent;
  color:white;
  border-radius:0;
  margin-top:20px;
  width:100%;
}

@media(max-width:1160px) {
  .tag-line {
    font-size:2.5em;
  }
}
@media(max-width:992px){
  .landing-header {
    text-align:center;
  }
  .landing-button {
    width: 60%;
  }
}
@media(max-width:768px) {
  .tag-line {
    margin-bottom:0;
  }
}

@media(max-width:570px){
  .tag-line {
    font-size:1.8em;
  }
}

@media(max-width:493px){
  .title {
    font-size:4em;
  }
  .tag-line {
    font-size:1.7em;
  }
}

/*D3 LINE GRAPH BELOW*/

.chart {
  font-family: 'Arial';
  font-size: 13px;
  color: #000;
}
.chart > .axis path,
.chart > .axis line {
  fill: none;
  stroke: #eee;
  stroke-width:2;
  shape-rendering: crispEdges;
}
.chart > .axis .tick line {
  fill: none;
  stroke: #999;
  stroke-width:2;
}
.chart > path.ideal {
   stroke: #eee;
   stroke-width:5;
   stroke-linecap:round;
}
.chart > path.actual {
   stroke: #209305;
   stroke-width:2;
   stroke-linecap:round;
   fill: none;
   /*fill: rgba(0,0,0,0.1);*/
}
.chart > .grid .tick {
    stroke: #eee;
    opacity: 0.5;
}

/* For aesthetics only */


.intro h1 {
  font: 200 1.7em Segoe UI, "Segoe UI Light", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
  font-weight: 200;
  color: #666;
}
.intro p {
  max-width: 600px;
}
