<top-navbar></top-navbar>
<div id="wrapper">
  <side-bar></side-bar>
  <div id="page-content-wrapper">
    <div class="header-img">
      <div class="header-txt">
        <h1>{{unit.product}} - {{unit.name}}</h1>
        <h3> Collected data from the past {{unit.day.length}} day(s) </h3>
    </div>
    </div>
    <div class="container">
      <div class="unit-info-contain col-lg-10 col-md-10 col-sm-10 col-xs-12">
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
         <a ng-click="selectGraph($event); showLight=true; showAir=false; showHum=false; showWat=false" type="button" class="active btn btn-default ">Light</a>
         <a ng-click="selectGraph($event); showLight=false; showAir=true; showHum=false; showWat=false" type="button" class="btn btn-default">Air Temp</a>
         <a ng-click="selectGraph($event); showLight=false; showAir=false; showHum=true; showWat=false" type="button" class="btn btn-default">Humidity</a>
         <a ng-click="selectGraph($event); showLight=false; showAir=false; showHum=false; showWat=true" type="button" class="btn btn-default">Water</a>
        </div>
        <div class="d3-directive-contain">
          <div ng-show="showLight" ng-hide="!showLight" class="sample-graph">
            <svg id="visualisation" width="80%" height="80%" class="chart"></svg>
          </div>

          <div ng-show="showAir" ng-hide="!showAir"class="sample-graph">
            <svg id="airvisualisation" width="80%" height="80%" class="chart"></svg>
          </div>

          <div ng-show="showHum" ng-hide="!showHum" class="sample-graph">
            <svg id="humidityvisualisation" width="80%" height="80%" class="chart"></svg>
          </div>

          <div ng-show="showWat" ng-hide="!showWat"class="sample-graph">
            <svg id="watervisualisation" width="80%" height="80%" class="chart"></svg>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
