  <top-navbar></top-navbar>
<div id="wrapper">
  <side-bar></side-bar>
  <div id="page-content-wrapper">
    <div class="header-img">
      <h1>Active Units</h1>
      <h3> Realtime hydroponics data streaming </h3>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="unit-contain col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="unit-wrapper col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <div class="unit-content">
                <div class="data-stream">
                  <h2>Light: 10mW/cm2</h2>
                  <h2>Air Temp: 72</h2>
                  <h2>Humidity: 35%</h2>
                  <h2>Water Temp: 67</h2>
                </div>
                <div class="unit-name">
                  <h3>Unit 01 </h3>
                </div>
                <div class="plant-name">
                  <h4>&bull; Asparagus  &bull; </h4>
                </div>
                <div class="current-day">
                  <h4>Day 16</h4>
                </div>
              </div>
            </div>
            <div class="unit-wrapper col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <div class="unit-content">
                <div class="data-stream">
                  <h2>Light: 10mW/cm2</h2>
                  <h2>Air Temp: 72</h2>
                  <h2>Humidity: 35%</h2>
                  <h2>Water Temp: 67</h2>
                </div>
                <h3>Unit 02</h3>
              </div>

            </div>
            <div class="unit-wrapper col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <div class="unit-content">
                <div class="data-stream">
                  <h2>Light: 10mW/cm2</h2>
                  <h2>Air Temp: 72</h2>
                  <h2>Humidity: 35%</h2>
                  <h2>Water Temp: 67</h2>
                </div>
                <h3>Unit 03</h3>
              </div>
            </div>
            <div class="unit-wrapper col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <div class="unit-content">
                <div class="data-stream">
                  <h2>Light: 10mW/cm2</h2>
                  <h2>Air Temp: 72</h2>
                  <h2>Humidity: 35%</h2>
                  <h2>Water Temp: 67</h2>
                </div>
                <h3>Unit 04</h3>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>