  <top-navbar></top-navbar>
<div id="wrapper">
  <side-bar></side-bar>
  <div id="page-content-wrapper">
    <div class="header-img">
      <div class="header-txt">
      <h1>Active Units</h1>
      </div>
    </div>
    <div class="container-fluid text-center">
      <div class="row center-block">
        <div class="unit-contain col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div ng-repeat="(i, unit) in activeUnits track by $index" class="unit-wrapper col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="unit-content">
                <div class="data-stream">
                  <div class="img-mask">
                    <h2 id="first-measure">Light: {{websocketUpdate.lux}} lm</h2>
                    <h2>Air Temp: {{websocketUpdate.airTemp}}&deg;</h2>
                    <h2>Humidity: {{websocketUpdate.humidity}}%</h2>
                    <h2>Water Temp: {{websocketUpdate.waterTemp}}&deg;</h2>
                  </div>
                </div>

              <div class="plant-name">
                <p>{{activeUnits[i].product}}</p>
              </div>
              <div class="current-day">
                <p>Day {{activeUnits[i].day.length}} <a ui-sref='active-unit-info({unitId:activeUnits[i]._id})'><span class="glyphicon glyphicon-stats"></span></a></p>
              </div>
              <hr>
              <div class="unit-name">
                <p>{{activeUnits[i].name}} </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
