<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a ui-sref="active-units">
                DevMountain Farms
                <img src="./development/images/dm_logo.png">
            </a>
        </li>
        <li>
            <a ui-sref="active-units">Active Units <span class="glyphicon glyphicon-flash"></span></a>
        </li>
        <li>
            <a ui-sref="archived-units">Archive <span class="glyphicon glyphicon-folder-open"></span></a>
        </li>
        <li>
            <a ui-sref="about">About <span class="glyphicon glyphicon-wrench"></span></a>
        </li>
        <li>
            <a ui-sref="landing">Logout <span class="glyphicon glyphicon-eject"></span></a>
        </li>
    </ul>
</div>
