<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a ui-sref="active-units">
                DevMountain Farms
                <img src="./development/images/dm_logo.png">
            </a>
        </li>
        <li>
            <a ui-sref="active-units">Active Units</a>
        </li>
        <li>
            <a ui-sref="archived-units">Archive</a>
        </li>
        <li>
            <a ui-sref="about">About</a>
        </li>
        <li>
            <a ui-sref="landing">Logout</a>
        </li>
    </ul>
</div>
